.annot{
    background:#CCCCCC;
}
.annot.annot-highlight{
    background: yellow;
}
.highlighter-container{
    z-index:3000;
}
.highlighter-container div{
    position: relative;
    top:-48px;
    left: -25px;
}
.highlighter-container div a{
    display: block;
    width: 50px;
    height: 50px;
    background: url(icon.png) 50px 0;
}
.annot-hide{
    display: none;
}
.annot-comment{
    min-height: 25px;
    background: #EEEEEE;
    padding-top: 10px;
    padding-left: 40px;
    padding-bottom: 10px;
    padding-right: 10px;
}
.even .annot-comment{
    background: #FFFFFF;
}
.annot-comment:hover{
    cursor:pointer;
}
.annot-comment:before {
    content: "";
    float: left;
    width: 25px;
    height: 25px;
    margin: -3px 10px 0 -35px;
    background: url(icon.png) 0 0;
}
.annot-comment:hover:before,
.annot-comment:focus:before,
.annot-comment:active:before {
    background-position: 0 -50px;
    cursor:pointer;
}
.annot-comment-intro{
    display: none;
}

.comment-form-quote{
    margin-left: 164px;
    background: yellow;
    padding: 2px 10px;
}
.comment-form-quote:before {
    content: "";
    float: left;
    width: 25px;
    height: 25px;
    margin: -2px 10px 0 -80px;
    background: url(icon.png) 0 0;
}

.qtip{
    font-size: 16px;
    max-width: 100%;
    width: 400px;
}
.qtip-content{
    padding: 15px 15px;
    overflow-y: auto;
    max-height: 450px;
}

.qtip .annot-comment{
    padding-top: 12px;
    display: none;
}
.qtip .annot-comment:before{
    margin: -7px 10px 0 -35px;
}
.qtip-close{
    right: 5px;
}
.qtip .commentlist{
    line-height: normal;
}